$primary: #acc2d8d0;
$secondary: rgba(228, 206, 83, 0.856);
$neutro: rgba(228, 206, 83, 0.856);

$dark-grey: #363636;
$light-grey: #d8d8d8;

$white: #fff;



// .dark{
//     background-color: $dark-grey;
// }

// .ligth{
//     background-color: $secondary;
// }

// .neutro{
//     background-color: $neutro;
// }